<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leigq.quartzlite.starter.domain.mapper.SysTaskMapper">
    <!-- 获取任务列表 -->
    <select id="taskList" resultType="com.leigq.quartzlite.starter.bean.vo.SysTaskListVO">
        SELECT `sys_task`.`id` as taskId,
               `sys_task`.`task_name`,
               `sys_task`.`task_group`,
               `sys_task`.`note`,
               `sys_task`.`task_class`,
               `sys_task`.`exec_params`,
               `sys_task`.`cron`,
               from_unixtime(
                       `qrtz_triggers`.`prev_fire_time` / 1000,
                       '%Y-%m-%d %T'
                       ) as prevFireTime,
               from_unixtime(
                       `qrtz_triggers`.`next_fire_time` / 1000,
                       '%Y-%m-%d %T'
                       ) as nextFireTime,

               `sys_task`.`exec_result`,
               `sys_task`.`concurrent`,
               `qrtz_cron_triggers`.`time_zone_id`,
               `qrtz_triggers`.`trigger_state`
        FROM `sys_task`,
             `qrtz_triggers`,
             `qrtz_cron_triggers`
        WHERE `qrtz_cron_triggers`.`trigger_group` = `qrtz_triggers`.`trigger_group`
          AND `qrtz_cron_triggers`.`trigger_name` = `qrtz_triggers`.`trigger_name`
          AND `qrtz_triggers`.`job_name` = `sys_task`.`task_name`
          AND `qrtz_triggers`.`job_group` = `sys_task`.`task_group`
    </select>
</mapper>